[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/openssl-cmake"]
	path = deps/openssl-cmake
	url = https://github.com/janbar/openssl-cmake.git
